:root{
    --primary-color: #4d4d4d;
    --text-color: white;
    --border-color: darkgrey;
    --muted-color: lightgray;
}

.panel-body{
    color: var(--text-color);
    background-color: var(--primary-color);
}

.stilo{
    background-color: var(--primary-color);
    border-color: var(--border-color);
    color: var(--text-color);
}

.text-muted{
    color: var(--muted-color)!important;
}