body{
    display: flex;
    flex-grow: 1;
    background-image: url("http://cryptotimes.org/wp-content/uploads/2017/11/trading77-1280x777.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //background-attachment: fixed;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-0{
    flex-grow: 0;
}

.panel{
    margin: 3pt;
    height: fit-content;
}

.panel-heading{
    text-align: center;
    font-size: 12pt;
}

table{
    width: 100%;
    min-width: 200pt;
    margin: 0pt;
}

td{
    padding: 3pt;
}

h3{
    margin-top: 10px;
}

.rightSide{
    max-width: 800pt;
    /*margin-top: 100pt !important;*/
}

@media (min-width: 575.98px) {
    .rightSide{
        /*margin-top: 70pt !important;*/
    }
}

.carousel {
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    margin: 3pt;
}

.bg-primary{
    background-color: rgba(51,122,183,0.7)!important;
}

.fixed-top {
    position:fixed !important;
}

.chartjs-render-monitor{
    position: relative;
    margin: auto;
    height: 100%!important;
    width: 100%!important;
    align-content: center;
}

.logo-image{
    width: 18px!important;
    height: 18px!important;
}